/* Button
=================*/

.btn {
  background: $link-color;
  @include link-colors(#fff, #fff);
  padding: 10px;
  border: 2px solid shade($link-color, 25%);
  border-bottom-width: 5px;
  box-shadow: inset 0 1px adjust-lighness($link-color, 10%);
  display: inline-block;
  @include border-radius(5px);
  &:hover {
    background: shade($link-color, 8%);
  }
  &:active {
    border-bottom-width: 2px;
    @include translate(0px, 3px);
    margin-bottom: 3px;
  }
}
