* {
  @include box-sizing(border-box);
}

.container {
  margin: 0 auto;
  max-width: 85%;
  @media ( min-width: 769px ){
    max-width: 600px;
  }
}

/* Navigation
================*/

nav {
  @include clearfix;
  background: $nav-color;
  color: #fff;
  #menu-button {
    display: block;
    text-align: right;
    padding: 10px 0;
  }
  ul {
    margin-bottom: 0;
  }
  #nav {
    display: none;
    border-top: 1px solid #fff;
    padding: 10px 0;
  }
  a {
    @include link-colors(#fff, #fff);
    @include hover-link;

  }
  @media (min-width: 769px) {
    @include horizontal-list(10px, left);
    padding: 15px 0;
    font-size: 24px;
    #nav {
      @include clearfix;
      display: block;
      border-top: none;
    }
    #menu-button {
      display: none;
    }
  }
}


/* Footer
================*/

footer {
  background: $footer-color;
  color: #fff;
  text-align: center;
  font-size: 21px;
  padding-top: 20px;
}

@include sticky-footer(100px, ".root", "#root_footer", "#footer");

/* Blog
================*/

.excerpt {
  margin-bottom: 30px;
}
