* {
  @include box-sizing(border-box);
}

.container {
  margin: 0 auto;
  max-width: 85%;
  @media ( min-width: 769px ){
    max-width: 600px;
  }
}

/* Navigation
================*/
body {
  padding-top: 35px;
  @media (min-width: 769) {
    padding-top: 0;
  }
}
.admin-bar nav {
  margin-top: 45px;
  @media (min-width: 769) {
    margin-top: 0;
  }
}

nav {
  @include clearfix;
  background: $nav-color;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  #menu-button {
    display: block;
    text-align: right;
    padding: 10px 0;
  }
  ul {
    margin-bottom: 0;
    list-style: none;
  }
  #nav {
    display: none;
    border-top: 1px solid #fff;
    padding: 10px 0;
  }
  a {
    @include link-colors(#fff, #fff);
    @include hover-link;

  }
  @media (min-width: 769px) {
    @include horizontal-list(10px, left);
    padding: 15px 0;
    font-size: 24px;
    position: relative;
    .sub-menu {
      display: none;    }
    li:hover > .sub-menu {
      display: block;
    }
    #nav {
      @include clearfix;
      display: block;
      border-top: none;
    }
    #menu-button {
      display: none;
    }
  }
}

.header-img {
  margin: 0 auto;
  display: block;
  width: 100%;
  @media (min-width: 769px) {
    width: 600px;
  }
}


/* Footer
================*/

footer {
  background: $footer-color;
  color: #fff;
  text-align: center;
  font-size: 21px;
  padding-top: 20px;
}

@include sticky-footer(100px, ".root", "#root_footer", "#footer");

/* Blog
================*/

.excerpt {
  margin-bottom: 100px;
}

/* Floats
================*/

.right {
  float: right;
}

.left {
  float: left;
}

/* Images
================*/

img {
  width: 100%;
  height: auto;
}

.wp-post-image {
  margin: 20px 0 0;
}
