/* Navigation
================*/

header {
  background: url(http://24.media.tumblr.com/031f46c3e427bca1eca2361b1651cffa/tumblr_n6eszmeQMR1st5lhmo1_1280.jpg) no-repeat fixed;
  height: 800px;
  background-size: cover;
  display: table;
  width: 100%;
  #header-text {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    @include lato;
    h1 {
      font-weight: 900;
      color: #fff;
      font-size: 72px;
      @include text-shadow(3px 3px 5px #333);
    }
  }
}

.admin-bar nav {
  margin-top: 45px;
  @media (min-width: 769px) {
    margin-top: 32px;
  }
}

nav {
  @include clearfix;
  color: #fff;
  z-index: 999;
  @include horizontal-list(10px, left);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 21px;
  line-height: 72px;
  height: 72px;
  @include transition(all 0.3s ease-in-out);
  .sub-menu {
    display: none;
  }
  ul {
    margin-bottom: 0;
    list-style: none;
    float: right;
  }
  .current-menu-item a {
    border: 2px solid #fff;
  }
  #nav a {
    color: #fff;
    @include transition(all 0.3s ease-in-out);
    padding: 10px;
    @extend .rounded;
    &:hover {
      color: $text-color;
      background: #fff;
    }
  }

}

.header-img {
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
  img {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

#logo {
  height: 50px;
  margin: 11px 21px 0 0;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    @include scale(1.1);
  }
}
#menu-button {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  .admin-bar & {
    top: 57px;
  }
}
#menu-button i {

  background: $nav-color;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  display: block;
  .admin-bar & {
    top: 57px;
  }
  &:hover {
    background: shade($nav-color, 20%);
  }
}

/* Side Navigation
================*/

#side-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  list-style: none;
  font-size: 21px;
  @include lato;
  background: $nav-color;
  a {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 100%;
  }
  li {
    display: block;
    border-bottom: 1px solid adjust-lightness($nav-color, 10%);
    height: 48px;
    line-height: 48px;
    padding-left: 24px;
    &:hover {
      background: shade($nav-color, 10%);
    }
  }
  .admin-bar & {
    top: 32px;
  }
}
