/* Search Form
=================*/

.search-icon {
  width: 50px;
  height: 50px;
  background: $link-color;
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 50px;
  text-align: center;
  display: block;
  &:hover {
    background: shade($link-color, 20%);
  }
}

.search-submit {
  display: none;
}

.search-input {
  display: none;
  position: absolute;
  right: 50px;
  top: 0;
  height: 50px;
  width: 100%;
  @include border-radius(0);
  font-size: 20px;
  @include lato;
  border: none;
  &:focus {
    outline: none;
  }
}

.search-container {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 400px;
  .admin-bar & {
    top: 45px;
  }
}
