/* Body
==================*/

body {
  background: $body-color;
}

/* Page Body
==================*/

.page-body {
  background: #fff;
  padding: 60px;
}

/* Footer
==================*/
footer {
  h3 {
    color: #fff;
  }
}
